<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Upload files like a pro</h1>
        <hr />
        <div>
          <form action="/files/" method="POST" enctype="multipart/form-data">
            <div class="user-input">
              <label for="name">File Title</label>
              <input
                type="text"
                id="name"
                placeholder="Name"
                value=""
                name="name"
                required
              />
            </div>
            <div class="user-input">
              <label for="caption">File Caption</label>
              <textarea
                id="caption"
                name="caption"
                value=""
                rows="2"
                placeholder="Caption"
                required
              >
              </textarea>
            </div>
            <div class="user-input">
              <label for="file">Upload File</label>
              <input type="file" id="file" name="file" value="" required />
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
